@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    --highlight-color: #0e95b0;
    --invalid-color: red;
}

.root {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}

header {
    height: 150px;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.logo-container {
    width: 100%;
    background-color: #00000050;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.logo {
    height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.credits {
    position: absolute;
    bottom: 5px;
    font-size: 0.7rem;
    color: gray;
}

form {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px lightgray;
    padding: 25px;
}

label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    margin-top: 15px;
    margin-bottom: 2px;
    position: relative;
}

.submit-button {
    width: 15rem;
    height: 2.5rem;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(168, 168, 168);
    margin: 20px 0;
    background-color: var(--highlight-color);
    font-weight: 500;
    cursor: pointer;
}
.submit-button:hover {
    box-shadow: 1px 1px 4px gray;
    background-color: #0c8ea8;
}

h1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(9, 8, 10);
}

p {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 15px;
    letter-spacing: 0.01rem;
}

a,
a:visited {
    color: gray
}

.log-in-link,
.log-in-link:visited {
    color: var(--highlight-color);
}

.inputs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

input {
    border: 1px solid gray;
    border-radius: 3px;
    height: 1.5rem;
    padding: 0.4rem;
}

input:focus {
    outline: none;
    border-color: var(--highlight-color);
    box-shadow: 0px 0px 3px lightgray;
}

input:not(:placeholder-shown):valid {
    border-color: #0eb041;
}

input:not(:placeholder-shown):invalid {
    border-color: var(--invalid-color);
}
.password-error {
    position: absolute;
    top: 100%;
    text-transform: none;
    color: var(--invalid-color);
}

@media screen and (min-width: 900px) {

    .root {
        align-items: center;
        flex-direction: row;
    }

    header {
        min-height: 100vh;
        height: 100%;
        width: 30%;
        margin: 0;
    }

    .credits,
    a,
    a:visited {
        color: white;
    }

    main {
        padding: 0;
        align-items: flex-start;
    }

    main>* {
        padding-left: 1.5rem;
    }

    .inputs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10%;
        grid-row-gap: 0px;
        padding-right: 20%;
    }

    p {
        max-width: 70%;
    }
}